/*HEADER*/

/*LOGO Y NAV*/

header{
    background-color: var(--colornavar);
}

.logo{
    width: 8rem;         
} 

#navlocal{
    background-color: var(--colornavar);
    padding: 0rem;
    margin: 0rem;
    border-bottom: solid var(--colornavar);
        .nav-link{
            color: var(--colortexto);
            font-size: 20px;
            font-weight: bold;
            font-family: var(--fuente-principal);
        }
    }