@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
/*VARIABLES*/
:root {
  /*Colores*/
  --colorprimario: #4b0172;
  --colornavar: #846b9d;
  --colortexto: #e1d4c7;
  /*Espacio*/
  --espacio-largo: 6rem;
  --espacio-medio: 2.4rem;
  --espacio-chico: 2rem;
  /*Fuente*/
  --fuente-principal: "Montserrat", sans-serif;
  /*Tamano Fuente*/
  --texto-grande: 2rem;
  --texto-mediano: 1.2rem;
  --texto-chico: 0.5rem;
}

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
/*LOGO Y NAV*/
header {
  background-color: var(--colornavar);
}

.logo {
  width: 8rem;
}

#navlocal {
  background-color: var(--colornavar);
  padding: 0rem;
  margin: 0rem;
  border-bottom: solid var(--colornavar);
}
#navlocal .nav-link {
  color: var(--colortexto);
  font-size: 20px;
  font-weight: bold;
  font-family: var(--fuente-principal);
}

/*-------------------------------------*/
/*MAIN, CONTAINER Y GENERALES PARA TODAS LAS WEBS*/
/*-------------------------------------*/
/*TAMANO ESTANDAR DE TODAS LAS WEB*/
body .container {
  max-width: 70rem;
  padding: 0rem;
  min-height: 100%;
}

/*BACKROUND DE TODAS LAS WEB*/
main {
  background-color: var(--colortexto);
}

/*SECTION OSCURO*/
.section-color-oscuro {
  background-color: var(--colornavar);
}

/*COLOR Y LETRA DE CUALQUIER BOTON DE LAS WEB*/
.boton-gral {
  background-color: var(--colornavar);
  color: var(--colortexto);
}

a {
  text-decoration: none;
  color: var(--colorprimario);
}

/*-------------------------------------*/
/*INDEX*/
/*-------------------------------------*/
.carousel-inner {
  border-radius: 5rem;
  border: solid;
  border-color: var(--colornavar);
  margin: 3rem 0rem 3rem 0rem;
}
.carousel-inner .txt-slide {
  color: var(--colorprimario);
}

.p-index-hola {
  font-family: var(--fuente-principal);
  font-size: var(--texto-mediano);
  color: var(--colortexto);
  margin-top: 1rem;
}
.p-index-hola .img-hola-index {
  height: 20rem;
  margin: 0rem;
}

/*-------------------------------------*/
/*TRABAJO*/
/*-------------------------------------*/
.row {
  padding: 1rem 0rem 0.5rem 0rem;
  margin: 0%;
}
.row .videoTrabajo {
  height: 20rem;
  border-radius: 5rem;
}

.text-trabajo-titulo {
  font-family: var(--fuente-principal);
  color: var(--colorprimario);
  font-weight: bold;
}

.title-trabajo {
  font-family: var(--fuente-principal);
  color: var(--colorprimario);
  margin-top: 1rem;
}

.text-gral {
  font-family: var(--fuente-principal);
  color: var(--colorprimario);
  margin-top: 1rem;
}

/*-------------------------------------*/
/*PEDIDOS*/
/*-------------------------------------*/
.ul-pedidos {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-self: center;
  font-family: var(--fuente-principal);
  color: var(--colorprimario);
  font-size: var(--texto-mediano);
}

.div-pedidos {
  padding: 3.1rem 0rem 1rem 0rem;
}
.div-pedidos .video-pedidos {
  height: 30rem;
  border-radius: 5rem;
}

/*-------------------------------------*/
/*GALERIA*/
/*-------------------------------------*/
#galeria img {
  width: 100%;
  height: 20rem;
  margin: 0.5rem;
}
#galeria img:hover {
  border: 5px solid var(--colornavar);
  transform: scale(1.2);
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

/*-------------------------------------*/
/*CONTACTO*/
/*-------------------------------------*/
.contactoRedes {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}
.contactoRedes .mapaContacto {
  border-radius: 1rem;
  max-width: 35rem;
  width: 35rem;
}
.contactoRedes .articleRedes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
  margin-left: 5rem;
  font-size: var(--texto-mediano);
}
.contactoRedes .articleRedes .logoRedes {
  max-height: 50px;
  max-width: 50px;
}

.consultaTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

/*RESPONSIVE CONTACTO*/
@media screen and (max-width: 360px) {
  .contactoRedes {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
  }
  .articleRedes {
    padding-right: 3rem;
  }
}
/*-------------------------------------*/
/*FOOTER GRAL*/
/*-------------------------------------*/
footer {
  background-color: var(--colornavar);
}
footer .diviconos {
  margin-bottom: 1rem;
}
footer .diviconos .iconos {
  color: var(--colorprimario);
  text-decoration: none;
  padding: 0.1rem;
}

footer p {
  color: var(--colorprimario);
  font-weight: bold;
  margin: 0rem;
  padding-top: 0.5rem;
}/*# sourceMappingURL=styles.css.map */