@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

/*VARIABLES*/
:root {
    /*Colores*/
    --colorprimario: #4b0172;
    --colornavar: #957DAD;
    --colortexto: #e1d4c7;

    /*Espacio*/
    --espacio-largo: 6rem;
    --espacio-medio: 2.4rem;
    --espacio-chico: 2rem;

    /*Fuente*/
    --fuente-principal: 'Montserrat', sans-serif;

    /*Tamano Fuente*/
    --texto-grande: 4rem;
    --texto-mediano: 2.2rem;
    --texto-chico: 1.6rem;

}

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

/*LOGO Y NAV*/

.logo{
    width: 8rem;
}

.container{
    max-width: 70rem;
    padding: 0px;
}

#navlocal{
    padding: 0rem;
    margin: 0rem;

}

.nav-link{
    color: var(--colortexto);
    font-size: 20;
    font-weight: bold;
    font-family: var(--fuente-principal);
}

/*MAIN*/

main{
    background-color: #e1d4c7;
}
/*
.carousel-item{
    max-width: 40rem;
    max-height: 40rem;
    min-width: 75rem;
}*/
.carousel-inner{
    border-radius: 5rem;
    border: solid;
    border-color: var(--colornavar);
}

#carouselExampleCaptions{
    padding: 1rem;
}

.txt-slide{
    color: var(--colorprimario);
}

/*FOOTER*/

footer{
    background-color: #957DAD;
}

footer p{
    color: #e1d4c7;
    font-weight: bold;
    border: solid;
}

.diviconos{
    border: solid;

}

.iconos{
    color: #e1d4c7;
    text-decoration: none;
    padding: 0.1rem;
}